.botao { 
    background-color: #6278f7;
    border-radius: 1em;
    font-size: 18px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 1em 0;
    padding: 1em;
}